<h2>
   <span style="font-size:32px;">Joining Pioneer Rocketry</span>
</h2>
<hr></hr>
</br>
<p>
Pioneer rocketry was started as a branch of SPS and is always looking for more members.
To join, feel free to contact our President, Trent Cybela, at cybelat [at] uwplatt.edu
</p>
